In [1]:
import csv

# 5 records input directly

In [3]:
list=[[1,'radha','navsari',9913787054],[2,'krishna','surat',9998767053],[3,'shiv','valsad',9813097050],[4,'parvati','bilimora',9933687055],[5,'shyam','ahemdabad',9513737057]]

# 5 records input from user

In [6]:
for i in range(5):
    id=int(input('enter student id:'))
    name=input('enter student name:')
    city=input('enter student city:')
    contact=int(input('enter student contact:'))
    list.append((id,name,city,contact))

enter student id:6
enter student name:kinjal
enter student city:surat
enter student contact:9913760466
enter student id:7
enter student name:tisha
enter student city:surat
enter student contact:5566778899
enter student id:8
enter student name:shreya
enter student city:valsad
enter student contact:9876543210
enter student id:9
enter student name:siddhi
enter student city:bardoli
enter student contact:7689542136
enter student id:10
enter student name:diya
enter student city:vapi
enter student contact:8798091234

# Writing csv file

In [22]:
import csv
with open('student.csv','w',newline='') as csvfile:
    write=csv.writer(csvfile)
    fields=['ID','NAME','CITY','CONTACT']
    write.writerow(fields)
    write.writerows(list)

# Reading csv file

In [25]:
with open('student.csv','r',) as csvfile:
    read=csv.reader(csvfile)
    for data in read:
        print(data)

['ID', 'NAME', 'CITY', 'CONTACT']
['1', 'radha', 'navsari', '9913787054']
['2', 'krishna', 'surat', '9998767053']
['3', 'shiv', 'valsad', '9813097050']
['4', 'parvati', 'bilimora', '9933687055']
['5', 'shyam', 'ahemdabad', '9513737057']
['6', 'kinjal', 'surat', '9913760466']
['7', 'tisha', 'surat', '5566778899']
['8', 'shreya', 'valsad', '9876543210']
['9', 'siddhi', 'bardoli', '7689542136']
['10', 'diya', 'vapi', '8798091234']